@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Feature.FormsExtensions.Business.Html
@using Sitecore.ExperienceForms.Mvc.Html
@model Feature.FormsExtensions.Fields.FileUpload.FileUploadModel
@{
    Html.AddScript(ScriptStore.ValidateScriptKey, new MvcHtmlString("<script src=\"/sitecore%20modules/Web/ExperienceForms/scripts/formsextensions.validate.js\"></script>"));
}
<label for="@Html.IdFor(m => Model.File)" class="@Model.LabelCssClass">@Html.DisplayTextFor(t => Model.Title)</label>
<input id="@Html.IdFor(m => Model.File)"
       name="@Html.NameFor(m => Model.File)"
       class="@Model.CssClass"
       type="file"
       value="@Model.File"
       data-sc-tracking="@Model.IsTrackingEnabled"
       data-sc-field-name="@Model.Name"
       @Html.GenerateUnobtrusiveValidationAttributes(m => m.File) />

@Html.GenerateUnobtrusiveValidationAttributes(m => m.Value)
@Html.ValidationMessageFor(m => Model.File)