@using Feature.FormsExtensions.Views
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Mvc
@model Feature.FormsExtensions.Fields.Hidden.HiddenViewModel

@if (Html.Sitecore().IsExperienceFormsEditMode())
{
  <div class="form-group">
    <p class="form-control">
      Hidden Field: @Model.Name
    </p>
  </div>
}
else
{
    <input id="@Html.IdFor(m => Model.Value)" name="@Html.NameFor(m => Model.Value)" type="hidden" value="@Model.Value" data-sc-tracking="@Model.IsTrackingEnabled" data-sc-field-name="@Model.Name" 
           data-sc-field-key="@Model.ConditionSettings.FieldKey"/>  
}